<div class="card">
	<div class="card-body">
		<div class="row" id="screenShareContent">
		</div>
		<div class="row" id="videoContent">
			<div class="col-lg-4 videoSection">
				<div>Name: {{user.name}}</div>
				<video id="local{{user._id}}" class="remote-video-layout" width="100%" muted="muted" playsinline
					autoplay="true" allowfullscreen showonhover></video>
			</div>
		</div>
	</div>
</div>
<input type="hidden" value="{{domain}}/join/{{user.meetingId}}" id="linkData">
<script src="/socket.io/socket.io.js"></script>
<script>
	let userId = "{{user._id}}";
	let userName = "{{user.name}}";
	let domain = "{{domain}}";
	let meetingId = '{{user.meetingId}}';
	let roomUsers = {};
	let localStream = null;
	let screenShareStream = null;
</script>
<script src="/javascripts/client.min.js"></script>